{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>polling site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>

    <div class="home">

    
        <header>
            <nav class="header">
<h4>polling site</h4>
            </nav>
        </header>
        <div class="polls ">
    {% if latest_question_list %}
    <ol>
    {% for question in latest_question_list %}
    <li><a href="{% url 'detail' question.id %}">{{ question.Question_text }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>

{% endif %}
</div>
</div>
</div>
</body>
</html>